.product-image {
    max-height: 400px;
    object-fit: cover;
}
.thumbnail {
    width: 80px;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s ease;
}
.thumbnail:hover, .thumbnail.active {
    opacity: 1;
}


.related-card {
    width: 150px;
    background-color: #fff;
    transition: transform 0.2s ease;
  }
  
  .related-card:hover {
    transform: translateY(-5px);
  }
  
  .related-img {
    width: 100%;
    height: 120px;
    object-fit: contain;
  }
  

  .cart-button {
    position: relative;
    padding: 10px;
    width: 50%;
    height: 40px;
    border: 0;
    border-radius: 10px;
    background-color: #8b25ff;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 0.9em;
    font-weight: lighter;
    transition: 0.3s ease-in-out;
    overflow: hidden;
  }
  
  .cart-button:hover {
    background-color: #9b50ef;
  }
  
  .cart-button:active {
    transform: scale(0.95);
  }
  
  .cart-button .fa-shopping-cart {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: -10%;
    font-size: 1.2em;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  
  .cart-button .fa-box {
    position: absolute;
    z-index: 3;
    top: -20%;
    left: 52%;
    font-size: 1em;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  
  .cart-button.clicked .add-to-cart {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .cart-button.clicked .added {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
  
  .cart-button.clicked .fa-shopping-cart {
    animation: cart-move 1.5s ease-in-out forwards;
    opacity: 1;
  }
  
  .cart-button.clicked .fa-box {
    animation: box-move 1.5s ease-in-out forwards;
    opacity: 1;
  }
  
  @keyframes cart-move {
    0% { left: -10%; opacity: 1; }
    40%, 60% { left: 50%; opacity: 1; }
    100% { left: 110%; opacity: 0; }
  }
  
  @keyframes box-move {
    0%, 40% { top: -20%; opacity: 1; }
    60% { top: 40%; left: 52%; opacity: 1; }
    100% { top: 40%; left: 112%; opacity: 0; }
  }
  